@use './variables' as v;

.community_wrapper {
    margin-block-start: 5rem;
    text-align: center;

    

    .com {
        margin-block-start: 40px;
        display: flex;
        gap: 40px;
        justify-content: center;
        
        p {
            color: v.$TomatoRed;
            font-weight: v.$fw-700;
            font-size: 32px;
        }
    }
}