@use './variables' as v;
@use './breakpoint' as b;

.partners {
    margin-block: 5rem;
    text-align: center;
    padding-block: 2.5rem;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: v.$DullRed;

    h2 {
        color: v.$White;
    }

    .partners_wrapper {
        display: grid;
        grid-template-columns: repeat(4, auto);
        align-items: center;
        justify-content: center;
        gap: 2.5rem;
        padding: 20px 40px;
        margin-block-start: 32px;

        @include b.breakpoint-sm {
            grid-template-columns: 1fr 1fr;
        }
    }
}
