@use './variables' as v;
@use './breakpoint' as b;

.process {
    padding-block-start: 80px;
    display: flex;
    text-align: center;


    &_p {
        max-inline-size: 37.5rem;
        margin-inline: auto;
        padding-inline-start: 1.5rem;
    }

    &_card {
        display: flex;
        align-items: center;
        gap: 64px;
        text-align: left;
        max-inline-size: 1044px;

        @include b.breakpoint-sm {
            flex-direction: column;
            text-align: center;
        }
    }
}

.second {
    @include b.breakpoint-sm {
        flex-direction: column-reverse;
    }
}

.arrow {
    margin-block: -40px -60px;

    @include b.breakpoint-sm {
        display: none;
    }

    img {
        margin-inline: auto;
    }
}