@use './variables' as v;

.process {
    padding-block-start: 80px;
    display: flex;
    text-align: center;

    h2 {
        color: v.$TomatoRed;
        font-size: 3rem;
        font-weight: v.$fw-700;
    }

    &_p {
        max-inline-size: 37.5rem;
        margin-inline: auto;
        padding-inline-start: 1.5rem;
    }

    &_card {
        display: flex;
        align-items: center;
        gap: 64px;
        text-align: left;
        max-inline-size: 1044px;
    }
}

.arrow {
    margin-block: -40px -60px;

    img {
        margin-inline: auto;
    }
}