@use './variables' as v;

.product {
    .container {
        max-width: 768px;
        width: 100%;
        overflow-x: auto;
    }
}

.products_wrapper {
    text-align: center;
    padding-block-start: 80px;
}

.product_text {
    max-width: 700px;
    margin-inline: auto;
    margin-block-start: 16px;
}

.products_card {
    background-color: v.$TomatoRed;
    border-radius: 5rem;
    padding: 80px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 3rem;
    max-width: 768px;
    width: 100%;
    overflow-x: auto;

    .divider {
        background-color: v.$White;
        height: 200px;
        width: 2px;
    }

    p {
        color: v.$White;
        font-size: 24px;
    }
}