@use './variables' as v;
@use './breakpoint' as b;

.process {
    padding-block: 5rem;
    display: flex;
    text-align: center;

    h2 {
        margin-block-end: 0.875rem;
    }


    &_p {
        max-inline-size: 37.5rem;
        margin-inline: auto;
        padding-inline-start: 1.5rem;
    }

    &_wrapper-card {
        display: grid;
        // grid-template-columns: 1fr 1fr;
        grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
        margin-block-start: 64px;
        gap: 20px;
    }
    

    &_card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        text-align: left;
        border: 2px solid v.$DullRed;
        padding: 1.25rem;
        border-radius: 1rem;

        h3 {
            color: v.$TomatoRed;
            // padding-block-end: 0.875rem;
            font-size: clamp(1rem, 0.7594rem + 1.1321vw, 1.75rem);
        }

        img {
            width: 120px;
        }

        @include b.breakpoint-sm {
            align-items: center;
            text-align: center;
        }
    }
}

.second {
    background-color: v.$TomatoRed;
    color: v.$White;

    h3 {
        color: v.$White;
    }
}
