//Color
$White: #fff;
$TomatoBg: #750000;
$TomatoRed: #B01D1D;
$DullRed: #972B2B;
$Black: #000;
$Yellow: #F6BE00;



//Fonts
$ff: 'Inter', sans-serif;
$fw-400: 400;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;